.container{
    width: 1280px;
    margin: 0 auto;
}
.header {
    padding: 30px 0;
}
.header-logo{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
    font-size: 70px;
    color: rgba(0, 0, 0, 255);
    text-decoration: none;
}

.blue{
    color: #05c7ff;
}
.menu-top{
    background-color: #35444f;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.menu-top-item{
    display: inline-block;
    padding: 20px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.menu-top-link{
    text-decoration: none;
    font-family: ﻿Myriad Pro, AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 400;
}

.left-sidebar{
    border: 1px solid #35444f;
    width: 27.5%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    overflow: hidden;
}

.main-content{
    margin-left: 40px;
    width: 69%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
}

.menu-left-link{
    text-decoration: none;
    font-family: ﻿Myriad Pro, AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
    color:  #495863;
    font-size: 27px;
    font-weight: 400;
    line-height: 89px;
    text-align: left;
    padding-left: 25px;
}

.main-content-img{
    border: 1сpx solid #35444f;
    padding: 80px 0px;
}

.main-content-img img{
    -webkit-transition: -webkit-transform 1s linear;
    transition: transform 1s linear;
    text-align: center;
    vertical-align: top;
}

.main-content-text{
    margin: 30px 35px;
    text-align: left;
    font-family: ﻿Myriad Pro, AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
    color:  #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.footer{
    background-color: #b4b7ba;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    height: 69px;
}

.menu-footer-item{
    display: inline-block;
    margin-top: 22px;
    margin-right: 20px;
}

.menu-footer-item:first-child{
    margin-left: 44px;
}

.menu-footer-link{
    font-family: ﻿Myriad Pro, AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
    color:  #0c1927;
    font-size: 26px;
    text-decoration: none;
}

.menu-footer-item:hover{
    box-sizing: border-box;
    padding-bottom: 5px;
    border-bottom: 2px solid #3181a6;
}

.menu-footer-link:hover{
    color: #3181a6;
}

.main-content-img img:hover{
    transform: scale(1.3);
}

.menu-top-item:hover{
    background: #222f3a;
    border-left: 1px solid rgba(255,255,255,1);
    border-right: 1px solid rgba(255,255,255,1);
}

.menu-left-item:hover{
    background-color: #dbdbdb;
    padding-left: 25px;
}

.menu-left-link:hover{
    color:  #000000;
}

.copy{
    text-align: right;
    display: inline-block;
    padding-left: 205px;
    font-family: ﻿Myriad Pro, AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
    color:  #0c1927;
    font-size: 22px;
}

